@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="contenido">
    @if (ViewBag.Fichas != null)
    {
        foreach (Adoptar.Models.Ficha ficha in ViewBag.Fichas)
        {

            <a href="@Url.Action("MostrarUno", "Fichas",new { id = @ficha.ID })">
                <div class="ficha col-md-3">
                    <div class="imagen">
                        <img class="img-responsive img-rounded img-thumbnail img-rounded" src="@ficha.Imagen" alt="imagen">
                    </div>

                    <hr class="divider" />
                    <h2>@ficha.Nombre</h2>
                    <p>@ficha.Ubicacion</p>
                    <p>@ficha.Sexo,@ficha.Edad</p>
                    <hr class="divider" />
                </div>
            </a>
        }
    }
</div>